@model StudentManagement.Models.MarksViewModel

<div class="card">
	<div class="card-header">
		<h3 class="card-title">Delete Marks</h3>
	</div>
	<div class="card-body">
		<div class="row">
			<dl class="row">
				<dt class="col-sm-2">Student Id </dt>
				<dd class="col-sm-10">@Model.StudentId</dd>

				<dt class="col-sm-2">Student Name</dt>
				<dd class="col-sm-10">@Model.StudentName</dd>

				<dt class="col-sm-2">Subject</dt>
				<dd class="col-sm-10">@Model.SubjectName</dd>

				<dt class="col-sm-2">Mark</dt>
				<dd class="col-sm-10">@Model.Mark</dd>
			</dl>
			<form asp-action="DeleteMarksBySubj" method="post" asp-controller="Marks">
				<input type="hidden" name="Studentid" value="@Model.StudentId" />
				@* <input type="hidden" id="subjectId" name="SubjectId" /> *@
				<input type="hidden" name="SubjectId" value="@Model.SubjectId" />
				<input type="submit" value="Delete" class="btn btn-danger" />
				<a asp-controller="Marks" asp-action="Index" class="btn btn-secondary">Back to Marks List</a>
			</form>
		</div>
	</div>
</div>